<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='snackbar.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c551403873.js" crossorigin="anonymous"></script>
</head>


<body class="unselectable mr-1 ml-1 h-100 bg-light">

<div class="container mx-2 my-2">
    <div class="text-center h4 py-3 mr-3 bg-info text-white border">TouchMouser v0.1</div>
</div>

<div id="touch-surface" class="h-100 mr-1 ml-1">


    <!-- Keyboard ALL -->
    <div class="row mr-1 ml-1 text-center" data-toggle="collapse" href="#keyboard_all">
        <div class="col">
            <label class="h5 py-2 text-center w-100 inline-block align-middle">Keyboard Input <i
                    class="fas fa-sort-down"></i></label>
        </div>
    </div>
    <div class="collapse" data-toggle="collapse" id="keyboard_all">
        <div class="row mr-1 ml-1">
            <div class="col">
                <div class="form-group text-center">
                    <input type="text" class="form-control" id="keyboard_input"
                           placeholder="Type text here click below to send.">
                </div>
            </div>
        </div>
        <div class="row mr-1 ml-1 mb-2">
            <div class="col">
                <button id="keyboard_send" type="button" class="btn btn-primary btn-block">Send to screen</button>
            </div>
        </div>

        <!-- keyboard extras -->
        <div class="pt-2 border rounded mb-1 bg-secondary" data-toggle="collapse" href="#keyboard_extras">
            <h6 class="text-center text-light h6 w-100">Keyboard Keys</h6>
        </div>
        <div id="keyboard_extras" data-toggle="collapse" class="row collapse mb-2">
            <div class="container">

                <div class="contianer py-2">
                    <div class="col-xs-12 text-center">
                        <kbd id='enter'>enter</kbd>
                        <kbd id="backspace">backspace</kbd>
                        <kbd id="space">space</kbd>
                    </div>
                </div>
                <div class="contianer py-2">
                    <div class="col-xs-12 text-center h3">
                        <div class="col text-center">
                            <kbd id='up'>up</kbd>
                        </div>
                    </div>
                    <div>
                        <div class="col-xs-12 text-center h3">
                            <kbd id='left'>left</kbd>
                            <kbd id="down">down</kbd>
                            <kbd id="right">right</kbd>
                        </div>
                    </div>

                    <div>
                        <div class="col-xs-12 text-center h3 pt-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button id="send_key_code_button" class="btn btn-primary" type="button">Send
                                    </button>
                                </div>
                                <input id="send_key_code_input" type="text" class="form-control"
                                       placeholder="Enter key code to send i.e f1">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- functions extras -->
        <div class="pt-2 border rounded mb-1 bg-secondary" data-toggle="collapse" href="#function_extras">
            <h6 class="text-center text-light h6 w-100">Function Keys</h6>
        </div>
        <div id="function_extras" data-toggle="collapse" class="row collapse text-center mb-2">

            <div class="col-md-12 text-center">
                <span class="small h4 text-center align-center">
                    Volume
                </span>
            </div>

            <div class="col-md-12">
                <div class="text-center">
                    <kbd id="volumedown">Volume Down</kbd>
                    <kbd id="volumeup">Volume Up</kbd>
                    <kbd id="mute">Mute</kbd>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <span class="small h4 text-center align-center">
                    Multimedia
                </span>
            </div>

            <div class="col-md-12">
                <div class="text-center">
                    <kbd id="play" class="ml-1"> Play </kbd>
                    <kbd id="stop" class="ml-1"> Pause </kbd>
                    <kbd id="previous" class="ml-1">Previous Track</kbd>
                    <kbd id="next" class="ml-1">Next Track</kbd>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <span class="small h4 text-center align-center">
                    Computer Control
                </span>
            </div>

            <div class="col-md-12">
                <div class="text-center">
                    <kbd id="sleep">Sleep</kbd>
                </div>
            </div>

        </div>
    </div>


    <!-- MOUSE ALL -->
    <div class="h5 py-2 text-center w-100 inline-block align-middle" data-toggle="collapse" href="#mouse_all"> Mouse
        Input <i
                class="fas fa-sort-down"></i></div>


    <!-- Applications ALL -->
    <!-- Applications ALL -->
    <!-- Applications ALL -->

    <div class="container">

        <div class="row mr-1 ml-1 text-center" data-toggle="collapse" href="#applications_all">
            <div class="col">
                <label class="h5 py-2 text-center w-100 inline-block align-middle">Applications <i
                        class="fas fa-sort-down"></i></label>
            </div>
        </div>

        <div class="collapse" data-toggle="collapse" id="applications_all">

            <div class="row my-2" id="app_loading">
                <div class="col-xs-12 w-100 text-center align-middle">
                    <div class="spinner-border spinner-border-sm pt-0 pb-0" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Loading
                </div>
            </div>
            <div class="row my-2">
                <div class="container text-center">
                    <button id="app_refresh_button" class="btn btn btn-primary pt-0 pb-0">Refresh Status</button>
                    <button id="app_all_running_button" class="btn btn btn-primary pt-0 pb-0">Show Running</button>

                </div>
            </div>

            <div class="row border" id="application_search_section">

                <form class="form-inline my-2">
                    <div class="col-sm-6 text-center">
                        <!-- Small -->
                        <select id="app_dropdown" name="cars" class="custom-select-sm text-center w-100 my-1">
                            <option selected>All Categories</option>
                            <option id="search_op" hidden=true value="volvo">Volvo</option>

                        </select>
                    </div>
                    <div class="col-sm-6 float-right ">
                        <div class="input-group mb-3 input-group-sm w-100">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input id="app_seach_box" type="text" class="form-control inline-block"
                                   placeholder="Search terms">
                        </div>
                    </div>
                </form>
            </div>
            <!-- application-->
            <div id="applications_container" class="py-2" data-app="blank" hidden>
                <div class="row border bg-white">
                    <!-- image -->
                    <div class="col-xs-3">
                        <img style="width:64px;height:64px;" class="image-thumbnail" data-app="image" src="">
                    </div>
                    <div data-app="name" class="col py-3 text-break">
                        <div class="small">Application name</div>
                    </div>
                    <div class="col-xs-3 d-flex justify-content-end>
                        <div class=" btn-group
                    " role="group" aria-label="Basic example">
                    <button data-app="open" type="button" class="btn btn-sm btn-success my-3">Open</button>
                    <button data-app="close" type="button" class="btn btn-sm btn-danger my-3 disabled">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MEDIA ALL -->
    <!-- MEDIA ALL -->
    <!-- MEDIA ALL -->

    <div class="container">

        <div class="row mr-1 ml-1 text-center" data-toggle="collapse" href="#media_all">
            <div class="col">
                <label class="h5 py-2 text-center w-100 inline-block align-middle">Media <i
                        class="fas fa-sort-down"></i></label>
            </div>
        </div>

        <div class="collapse" data-toggle="collapse" id="media_all">

            <div class="row my-2" id="media_loading">
                <div class="col-xs-12 w-100 text-center align-middle">
                    <div class="spinner-border spinner-border-sm pt-0 pb-0" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Loading
                </div>
            </div>
            <div class="row my-2">
                <div class="container text-center">
                    <button id="media_kill" class="btn btn btn-primary pt-0 pb-0">Kill Player</button>
                </div>
            </div>

            <div class="row" id="media_search_section">

                <form class="form-inline w-100">
                    <div class="col-sm-6 float-right ">
                        <div class="input-group mb-3 input-group-sm w-100">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input id="media_search_box" type="text" class="form-control inline-block"
                                   placeholder="Search terms">
                        </div>
                    </div>
                </form>
            </div>
            <!-- media-->
            <div id="media_container" class="container w-100" data-media="blank" hidden>
                <div class="row border bg-white">
                    <row>
                        <div data-app="name" class="col py-1 text-break">
                            <div class="small" data-media-name>Application name</div>
                        </div>
                    </row>
                    <row>
                        <div class="col small">
                            Resolution:<span id="media_res" data-media-res>3000x4000</span>
                        </div>
                        <div class="col small">
                            Duration:<span id="media_duration" data-media-dur>01:03:23<span>
                        </div>
                        <div class="col small">
                            Duration:<span id="media_size" data-media-size>01:03:23<span>MB
                        </div>
                        <div>
                            <button data-app="open" type="button" class="btn btn-sm btn-success my-3">Play</button>
                        </div>
                    </row>
                </div>
            </div>
        </div>
    </div>
    <!-- OPTIONS ALL -->
    <div class="h5 py-2 text-center w-100 inline-block align-middle" data-toggle="collapse" href="#options_all">
        Extras <i class="fas fa-sort-down"></i>
    </div>

    <div class="col-md-12 text-center collapse" data-toggle="#options_all" id="options_all">
        <!-- Options -->
        <div class="pt-2 border rounded bg-secondary" data-toggle="collapse" href="#options">
            <h6 class="text-center text-light h6 w-100">Options</h6>
        </div>
        <div id="options" data-toggle="collapse" class="row collapse">
            <div class="col text-center">
                <!-- accept mouse -->
                <div class="form-check m-1">
                    <input class="form-check-input" type="checkbox" checked id="accept_touch">
                    <label class="form-check-label" for="accept_touch">
                        Accept Mouse Movement
                    </label>
                    <div>
                        <small id="accpetMouseHelp" class="form-text text-muted">Send on screen swipes to
                            screen?</small>

                    </div>

                </div>
                <!--- ms to move -->
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Time Between Mouse Send (ms) </span>
                    </div>
                    <input type="text" class="form-control" id="touch_send_ms" aria-describedby="basic-addon3"
                           value="200">
                    <div>

                        <small id="sendMsHelp" class="form-text text-muted">How often to send mouse movements to the
                            screen. NB. The system will attempt updates if it hasn't received a response from the server
                            from the last send (error or success).</small>
                    </div>

                </div>
                <!--- movement multiplier -->
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Mouse speed multiplier </span>
                    </div>
                    <input type="text" class="form-control" id="movement_multiplier" aria-describedby="basic-addon3"
                           value="5">
                    <div>

                        <small id="multiplierHelp" class="form-text text-muted">Used to increase the movement speed of
                            mouse on screen. Larger value makes a small finger swipe on mobile move a larger distance on
                            the remote computer</small>
                    </div>

                </div>
                <!-- dynamic multiplier -->
                <div class="form-check m-1">
                    <input class="form-check-input" type="checkbox" checked id="dynamic_multiplier">
                    <label class="form-check-label" for="dynamic_multiplier">
                        Dynamic speed multiplier
                    </label>
                    <div>

                        <small id="dynamicHelp" class="form-text text-muted">Uses the distance finger swiped to
                            determine the % of the above multiplier to use. i.e Bigger finger strokes are less accurate
                            but travel further. Smaller movements are more intricate.</small>
                    </div>

                </div>


            </div>
        </div>
        <!-- Remote Stats -->
        <div class="pt-2 border rounded bg-secondary" data-toggle="collapse" href="#remote_stats">
            <h6 class="text-center text-light h6 w-100"> Remote Options</h6>
        </div>
        <div id="remote_stats" data-toggle="collapse" class="row collapse">
            <div class="col">
                <div id="stats" class="text-center ">
                    <div class="font-weight-bold h7">Remote Screen</div>
                    <div class="text-center">
                        <span id="remote_x" class="text-secondary">0</span> x <span id="remote_y"
                                                                                    class="text-secondary">0</span>
                    </div>
                    <button class="btn btn-primary btn-block mb-2" onclick="show_screenshot(this)">Show screen
                    </button>
                </div>
            </div>
        </div>
        <!-- Touch Details -->
        <div class="pt-2 border rounded bg-secondary" data-toggle="collapse" href="#touch_details">
            <h6 class="text-center text-light h6 w-100">Info</h6>
        </div>
        <div id="touch_details" class="row collapse" data-toggle="collapse">
            <div class="col">
                <div id="touch_start" class="text-center ">
                    <div id="Screen" class="text-center">
                        <span class="font-weight-bold h7"> Screen: </span>
                        <div class="text-secondary">
                            <span class="font-weight-bold"> Current: </span>
                            x <span id="x">0 </span>
                            <span>  </span>
                            y <span id="y">0</span>

                            <span class="font-weight-bold">   Difference: </span>
                            x <span id="x_diff">0 </span>
                            <span>  </span>
                            y <span id="y_diff">0</span>
                            <br>
                        </div>
                    </div>
                    <div id="mouse_speed" class="text-center">
                        <span class="font-weight-bold h7"> Speed: </span>
                        <div class="text-secondary">
                            <span class="font-weight-bold"> Mouse response speed: </span>
                            <span id="transfer_speed">0</span> (ms)
                        </div>
                    </div>
                    <div id="transactions" class="text-center">
                        <span class="font-weight-bold h7"> Transactions: </span>
                        <div class="text-secondary">
                            Mouse Complete: <span id="mouse_complete">0</span> Mouse error: <span
                                id="mouse_error">0</span>
                            <br>
                            Keyboard Complete: <span id="keyboard_complete">0</span> Keyboard error: <span
                                id="keyboard_error">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Screenshot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="image-fluid w-100" src="" id="screenshot">
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='functions.js') }}"></script>
<script src="{{ url_for('static', filename='snackbar.min.js') }}"></script>


</body>

</html>
